# This File is based on: https://github.com/exynos1280/android_device_samsung_a53x/blob/lineage-23.0/configs/init/init.a53x.unify.rc
# a55xnaxx
on early-init && property:ro.boot.em.model=SM-A556B
    # Mount firmware files
    mount none /vendor/firmware/A556BXXSABYI1/AIE.bin /vendor/firmware/AIE.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/calliope_sram.bin /vendor/firmware/calliope_sram.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/mfc_fw.bin /vendor/firmware/mfc_fw.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/os.checked.bin /vendor/firmware/os.checked.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/pablo_icpufw.bin /vendor/firmware/pablo_icpufw.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/vts.bin /vendor/firmware/vts.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/wifi/mx140.bin /vendor/firmware/wifi/mx140.bin bind
    mount none /vendor/firmware/A556BXXSABYI1/wifi/slsi_reg_database.bin /vendor/firmware/wifi/slsi_reg_database.bin bind
    # Mount TEE
    mount none /vendor/tee/A556BXXSABYI1 /vendor/tee bind
    setprop ro.vendor.firmware.loaded EUX

# a55xnsxx
on early-init && property:ro.boot.em.model=SM-A556E
    # Mount firmware files
    mount none /vendor/firmware/A556EXXSABYI2/AIE.bin /vendor/firmware/AIE.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/calliope_sram.bin /vendor/firmware/calliope_sram.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/mfc_fw.bin /vendor/firmware/mfc_fw.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/os.checked.bin /vendor/firmware/os.checked.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/pablo_icpufw.bin /vendor/firmware/pablo_icpufw.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/vts.bin /vendor/firmware/vts.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/wifi/mx140.bin /vendor/firmware/wifi/mx140.bin bind
    mount none /vendor/firmware/A556EXXSABYI2/wifi/slsi_reg_database.bin /vendor/firmware/wifi/slsi_reg_database.bin bind
    # Mount TEE
    mount none /vendor/tee/A556EXXSABYI2 /vendor/tee bind
